.book-page {
    background-color: rgb(40 41 42);
    color: white;
    margin: 0;
    height: 100vh;

    .header {
        line-height: 50px;
        background-color: rgb(60 60 60);
        padding-left: 50px;
        position: fixed;
        left: 0;
        top: 0;
        width: 100vw;

        &>a {
            color: white;
            text-decoration: underline;

            &:hover {
                font-weight: 800;
            }
        }
    }

    .content {
        position: fixed;
        left: 0;
        top: 50px;
        font-size: 0;
        height: 100%;
        width: 100vw;
        white-space: nowrap;
    }

    .menu,
    .page {
        display: inline-block;
        vertical-align: top;
        font-size: 14px;
        height: calc(100% - 50px);
    }

    .menu {
        width: 300px;
        border-right: 1px solid rgb(78 79 79);
        box-sizing: border-box;
        padding: 20px;
        padding-left: 50px;
        line-height: 30px;

        &>.btn {
            cursor: pointer;

            &[active='yes'] {
                font-weight: 800;
                color: #2196F3;
            }

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .page {
        width: calc(100vw - 300px);
        overflow: auto;

        &>.item {
            display: block;
            margin: 30px 0;
            text-align: center;

            &>.img {
                width: 700px;
            }
        }
    }



}