.is-404-page {
    text-align: center;
    user-select: none;

    &>.is-404 {
        background-image: url("../../images/404.png");
        height: 200px;
        background-size: auto 100%;
        background-repeat: no-repeat;
        background-position: center top;
        margin-top: 200px;
    }

    &>.tips {
        font-size: 20px;
        color: black;
        font-size: 14px;
        color: black;
        margin-top: 70px;
        font-weight: 800;
        font-family: monospace;
    }

    &>.btn {
        display: inline-block;
        white-space: nowrap;
        line-height: 30px;
        height: 30px;
        border: 1px solid black;
        border-radius: 15px;
        font-size: 14px;
        color: black;
        padding: 0 10px;
        margin-top: 20px;

        &:hover {
            text-decoration: underline;
            font-weight: 800;
            border-width: 2px;
        }
    }
}